[user]
    name = shpurk
	email = benjamin@system76.com

[color]
    ui = auto

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    mdr = merge --no-commit --no-ff

[branch]
    autosetuprebase = always

[apply]
    whitespace = strip

[diff]
    color = auto
    rename = copy

[pager]
    color = true

[status]
    color = auto
[push]
    default = upstream
[core]
	editor = vim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
